* {
    background-color: brown
}

.field {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: bisque;
    height: 150px;
    width: 150px;
    border-right: 5px solid black;
}

#outfield {
    position: absolute;
    background-color: rgb(110, 194, 110);
    border: 1px solid whitesmoke;
    height: 500px;
    width: 500px;
    transform: rotate(45deg);
    margin: 300px;
    border-radius: 100% 0px 0px 0px;

}

#fixed {
    position: relative;
    width: 1088px;
}

#batter {
    position: absolute;
    top: 900px;
    right: 550px;
    background-color: green;
}

#fb-runner {
    position: absolute;
    top: 800px;
    right: 430px;
    background-color: green;
}

#sb-runner {
    position: absolute;
    top: 670px;
    right: 570px;
    background-color: green;
}

#tb-runner {
    position: absolute;
    top: 800px;
    right: 670px;
    background-color: green;
}

#catcher {
    position: absolute;
    top: 930px;
    right: 550px;
    background-color: red;
}

#pitcher {
    position: absolute;
    top: 790px;
    right: 560px;
    background-color: red;
}

#first-baseman {
    position: absolute;
    top: 760px;
    right: 450px;
    background-color: red;
}

#second-baseman {
    position: absolute;
    top: 700px;
    right: 500px;
    background-color: red;
}

#third-baseman {
    position: absolute;
    top: 760px;
    right: 650px;
    background-color: red;
}

#shortstop {
    position: absolute;
    top: 700px;
    right: 600px;
    background-color: red;
}

#left-field {
    position: absolute;
    top: 600px;
    right: 750px;
    background-color: red;
}

#right-field {
    position: absolute;
    top: 600px;
    right: 350px;
    background-color: red;
}

#center-field {
    position: absolute;
    top: 500px;
    right: 570px;
    background-color: red;
}

#hit-type-one {
    position: absolute;
    top: 700px;
    right: 507px;
    height: 205px;
    border-left: 5px solid salmon;
    transform: rotate(15deg);
}

#hit-type-two {
    position: absolute;
    top: 660px;
    right: 535px;
    height: 240px;
    border-left: 5px solid rgb(114, 250, 239);
}

#hit-type-three {
    position: absolute;
    top: 675px;
    right: 595px;
    height: 240px;
    transform: rotate(-30deg);
    border-left: 5px solid rgb(237, 247, 101);
}











#hit-type-four {
    position: absolute;
    top: 505px;
    right: 482px;
    height: 400px;
    border-left: 5px solid rgb(209, 17, 97);
    transform: rotate(15deg);
}

#hit-type-five {
    position: absolute;
    top: 502px;
    right: 535px;
    height: 400px;
    border-left: 5px solid rgb(150, 114, 250);
}

#hit-type-six {
    position: absolute;
    top: 527px;
    right: 635px;
    height: 400px;
    transform: rotate(-30deg);
    border-left: 5px solid rgb(40, 194, 26);
}

#hit-type-seven {
    position: absolute;
    top: 305px;
    right: 480px;
    height: 600px;
    transform: rotate(10deg);
    border-left: 5px solid rgb(254, 255, 178);
}

#hit-type-eight {
    position: absolute;
    top: 370px;
    right: 345px;
    height: 600px;
    transform: rotate(40deg);
    border-left: 5px solid rgb(254, 255, 178);
}

#hit-type-nine {
    position: absolute;
    top: 310px;
    right: 610px;
    height: 600px;
    transform: rotate(-14deg);
    border-left: 5px solid rgb(254, 255, 178);
}



#inning {
    position: absolute;
    background-color: transparent;
    color: wheat;
    top: 400px;
    right: -10px;
    font-size: large;
}

#at-bat {
    position: absolute;
    background-color: transparent;
    color: rgb(202, 137, 148);
    top: 800px;
    right: 750px;
}

#outs {
    position: absolute;
    background-color: transparent;
    color: rgb(202, 137, 148);
    font-size: x-large;
    top: 800px;
    right: 450px;
}

#team-scores {
    position: absolute;
    background-color: transparent;
    color: rgb(230, 182, 182);
    font-size: xx-large;
    top: 300px;
    left: 100px;
}

#team-batting {
    position: absolute;
    background-color: transparent;
    color: rgb(202, 137, 148);
    font-size: large;
    top: 820px;
    left: 60px;
}